body {
  background-color: #e7d9d7;
  color: #53453c;
  font-family: 'IM Fell Double Pica', serif;
  margin: 0 auto;
}

main {
  height: 100px;
  margin-top: 90px;
  width: 100%;  
}

header {
  background-color:#c5b6ba;
  overflow: hidden;
  padding-left: 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

header::after {
clear: both;
content: '';
display: table;
}

canvas {
  display: inline-block;
  padding-left: 270px;
  padding-right: 250px;
  text-align: center;
}

iframe {
  display: block;
  margin: auto;
  padding: 20px 10px 20px 10px;
}

p {
  color: #1c110f;
}

h1 {
  color: #53453c;
  font-family: 'Bilbo', cursive;
  font-size: 50px;
  line-height: 0;
}

a {
  color: #53453c;
  text-decoration: none;
}

h2 {
  color: #53453c;
  font-size: 16px;
  margin-left: 32px;
}

#logo {
  float: left;
  margin-right: 100px; 
}

/* navigation bar */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0; 
}

nav li {
  display:inline-block;
  font-family: 'IM Fell Double Pica', serif;
  font-size: 20px;
  margin-left: 80px; 
  margin-top: 20px;
  padding-top: 10px; 
  padding: 20px;
}

nav a {
  color: rgb(55, 58, 58);
  text-decoration: none;
}

nav :hover {
  color: rgb(46, 70, 46);
}

/* Start playing button */
#play {
  background-color:#e7d9d7;
  border-radius: 32px;
  box-shadow: 0 8px rgb(73, 73, 73);
  color: #53453c;;
  font-family: 'IM Fell Double Pica', serif;
  font-size: 34px;
  padding: 20px;   
}

#play:hover {
  background-color:#ebc2bc;
}

#play:active {
  background-color:#ebc2bc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#welcome {
  background-color:#c49790;
  height: 200px;
  padding: 50px 0 50px 0;
  text-align: center; 
}

#welcome p {
  color:#53453c;
  font-family: inherit;
  font-size: 18px;
}

#demo {
  background-color: #c5b6ba;
}

/* about he creators page */
#creators {
  margin-top: 200px;
  padding-bottom: 30px;
  text-align: center;
}
.maker {
  height: 500px;
}

.maker h3 {
  color: #53453c;
  font-size: 30px;
}

#aboutthemakers {
  margin-left: 50px;
}

.aboutme {
  float: right;
  margin-right: 200px;
  width: 600px;
}

h4 {
  font-size: 22px;
}

/* Pop-up Help Tab */

/* pop-up background */
.modal {
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width:100%;
  height: 100%;
}

/* pop-up content */
.modal-content { 
  background-color:#c5b6ba;
  margin: 15% auto;
  opacity: 70%;
  padding: 20px;
  text-align: center;
  width: 60%;
}

/* the close button */
.close {
  color: #53453c;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, 
.close:focus {
  color: rgb(46, 70, 46);
  cursor: pointer;
  text-decoration: none;
}

#myBtn {
  background-color: inherit;
  border: none;
  color: inherit;
  font: inherit;  
}

#myBtn:hover {
  color: rgb(46, 70, 46);
  cursor: pointer;
}

/* feedback form */

form {
  color: inherit;
  font: inherit;
  width: 90%;
}

legend {
  font-weight: bold;
  font-size: 18px;
  padding: 20px 0 20px 0;
}

textarea {
  width: 60%;
}

input[type=text], textarea {
  border: 1px solid #53453c;
  border-radius: 4px; 
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 12px;
}

input[type=submit] {
  background-color:#e7d9d7;
  border-radius: 32px;
  box-shadow: 0 4px rgb(73, 73, 73);
  color: #53453c;;
  display: block;
  font-family: 'IM Fell Double Pica', serif;
  font-size: 20px;
  padding: 10px;  
}

input[type=submit]:hover {
  background-color:#ebc2bc;
}

input[type=submit]:active {
  background-color:#ebc2bc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
